/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #96b7f5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #000000;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5fb7f7;
  border-radius: 0px;
}

/* END OF THE SCROLL BAR */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(90deg, #0f7999 60%, #13a3cf 90%);
}

.encabezado {
  background-image: linear-gradient(rgba(4, 10, 43, 0.2), rgba(4, 9, 30, 0.7)),
    url("../img/communi.jpeg");
  background-position: center;
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}

nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  flex: 1;
  text-align: right;
}

.nav_links ul li {
  position: relative;
  letter-spacing: 2px;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav_links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2.5px;
  background: #2eceff;
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.nav_links ul li:hover::after {
  width: 100%;
}

.anchorsNav {
  transition: 0.5s;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

nav .fa {
  display: none;
}

.post_h1 {
  font-family: "Poppins", sans-serif;
  color: #a8f1f7;
  font-size: 70px;
  padding: 30px;
  text-align: left;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.post_p {
  font-family: "Roboto", sans-serif;
  color: #a8f1f7;
  text-align: left;
  letter-spacing: 3px;
  font-size: 30px;
  padding: 30px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  nav img {
    margin-top: 4px;
  }
  .indexWelcome {
    transform: translate(-50%, -10%);
    text-align: center;
  }
  .indexWelcome h3 {
    font-size: 15px;
    text-align: center;
  }
  .indexWelcome h1 {
    font-size: 30px;
    text-align: center;
  }
  .indexWelcome p {
    font-size: 10px;
    text-align: center;
  }
  .nav_links ul li {
    display: block;
  }
  .nav_links {
    position: absolute;
    background: #efeff1;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #1f418b;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
  }
  nav .fa:hover {
    color: #2ca8ff;
    transition: 0.5s ease-in-out;
  }
  .nav_links ul {
    padding: 10px;
  }
}

.postHome {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto;
}


.postHome label {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}


#title {
  position: relative;
}

#content {
  position: relative;
}

.makePost {
  width: 400px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #20bcc2;
  color: #ffffff;
  padding: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.fa-pencil {
  text-align: right;
  margin-left: 170px;
}

.threads {
  margin: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  padding: 10px;
}


.container {
  font-family: "Roboto", sans-serif;
  width: 95%;
  justify-content: center;
  height: auto;
  padding: 25px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.h3_forum {
  color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 35px;
}

input {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 15px;
  display: block;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #385c9e;
}


.contenidoForm {
  width: 600px;
}


::placeholder {
  color: #ffffff;
}

.botonForm {
  margin-top: 50px;
  padding: 10px;
  color: #ffffff;
  background-color: #073180;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.botonForm:hover {
  font-weight: 700;
  color: #397cfa;
  background-color: #f0fcff;
}

.postUser {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  margin: 30px 0px 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #3286e6;
}

.postUser .fa {
  position: absolute;
  margin: 2.5px;
  top: 1px;
  left: 97%;
  font-size: 20px;
  cursor: pointer;
}

.h4_post {
  margin-bottom: 25px;
  margin-top: 10px;
}


/* FOOTER  */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212c47;
  color: #ffffff;
}

.copyright_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.copyright {
  font-size: 15px;
  opacity: 0.8;
  font-weight: 400;
  padding: 10px 0;
}

.footer_menu {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer_container {
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_content_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website_logo {
  margin-bottom: 1.2rem;
  font-size: 20px;
}

.footer_info, .menu_item_footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.menu_item_footer:hover {
  opacity: 1;
}

.menu_title {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social_link {
  margin: 10px auto;
  color: #ffffff;
  display: inline-flex;
  height: 100%;
  padding: 0;
  background-size: 70%;
  margin: 10px;
}

.social_link:hover {
  opacity: 0.7;
  color: rgba(69, 137, 226, 0.9);
}


@media (max-width: 768px) {
  .footer_container{
    padding: 2rem;
    flex-direction: column;
  }

  .footer_content_container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #212c47;
    justify-content: center;
    align-items: center;
  }

  .footer_menu {
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #212c47;
  }
}