/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: #96b7f5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0d00bd;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d75b4;
  border-radius: 10px;
}

/* END OF THE SCROLL BAR */
/* NAV BAR */

nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 250px;
}

.nav_links {
  flex: 1;
  text-align: right;
}

.nav_links ul li {
  position: relative;
  letter-spacing: 2px;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav_links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

a {
color: #ffffff;
}


.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2.5px;
  background: #2ca8ff;
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.nav_links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

/* END OF THE NAV BAR */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f7999;
  overflow-x: hidden;
  padding-top: 10px;
  margin: 5px 20px;
}

.container {
  position: relative;
  width: 50%;
  height: 500px;
  background-color: rgba(250, 250, 250, 0.20);
  border: 3px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  border-radius: 10px;
}

.container img {
  border: 5px solid #0300c5;
  width: 250px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.form-image {
  width: 100%;
  text-align: center;
}

.container-mainInfo {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.container-subInfo {
  margin: auto;
  width: 80%;
  background-color: rgba(250, 250, 250, 0.20);
  border: 3px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.containers-labels {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px auto;
}

label {
  color: #ffffff;
  font-size: 22px;
}

.userDataSide {
  color: #202020;
  font-size: 18px;
}

.container-about {
  font-size: 20px;
}

.container-about h3 {
  font-weight: 500;
  color: #ffffff
}


@media (max-width: 768px) {
  body {
    overflow-x: hidden;

  }
  nav img {
    margin-top: 4px;
  }
  .nav_links ul li {
    display: block;
  }
  .nav_links {
    position: absolute;
    background: #5878ca;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
      display: block;
      color: #ffffff;
      font-size: 20px;
      margin: 10px;
      cursor: pointer;
  }
  nav .fa:hover {
    color: #2ca8ff;
    transition: 0.5s ease-in-out;
  }
  .nav_links ul {
      padding: 10px;
  }
  
  .container img {
    width: 180px;
  }

  .form-control {
    font-size: 10px;
  }

  .btn {
    font-size: 14px;
  }

  .container-mainInfo {
    font-size: 12px;
  }
}