* {
  margin: 0;
  padding: 0;
}

.encabezado {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 10, 43, 0.7), rgba(4, 9, 30, 0.7)),
    url("../img/loginregister.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 1% 3%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 250px;
}

.nav_links {
  flex: 1;
  text-align: right;
}

.nav_links ul li {
  position: relative;
  letter-spacing: 2px;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav_links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

a {
color: #ffffff;
}


.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2.5px;
  background: #2ca8ff;
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.nav_links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

.formBox {
  margin: 100px auto;
  width: 400px;
  height: 500px;
  position: relative;
  background-color: rgba(250, 250, 250, 0.20);
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
}


.formBoxR {
  margin: 50px auto;
  width: 400px;
  height: 700px;
  position: relative;
  background-color: rgba(250, 250, 250, 0.20);
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
}

.titleBox {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: auto;
  color: white;
  margin: 50px auto;
}

#titleL {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px #6e6e6e;
}

#titleR {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px #6e6e6e;
}


.inputsForm {
  top: 70px;
  position: relative;
  width: 280px;
  transition: .5s;
  transform: translate(0%, -10%);
}

.inputsForm2 {
  justify-content: center;
  position: absolute;
  width: 280px;
  transition: .5s;
  transform: translate(0%, -12%);
}


::placeholder {
  color: #ffffff;
}


.inputsField {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: left;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #2ca8ff;
  outline: none;
  background: transparent;
}

.submitBtn {
  font-family: "Poppins", sans-serif;
  width: 70%;
  padding: 15px 30px;
  cursor: pointer;
  display: block;
  margin: 30px auto;
  background-color: #ffffff;
  color: #2ca8ff;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.submitBtn:hover {
  color: #ffffff;
  background-color: #2ca8ff;
  transition: 0.5s ease-in-out;
}

#login {
  left: 12%;
}

#register {
  left: 12%;
  top: 220px;
}

p {
  font-family: 'Arial';
  font-size: 18px;
  color: #b11717;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 120px;
  left: 50px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav img {
    margin-top: 4px;
  }
  .indexWelcome {
    transform: translate(-50%, -10%);
    text-align: center;
  }
  .indexWelcome h3 {
    font-size: 15px;
    text-align: center;
  }
  .indexWelcome h1 {
    font-size: 30px;
    text-align: center;
  }
  .indexWelcome p {
    font-size: 10px;
    text-align: center;
  }
  .nav_links ul li {
    display: block;
  }
  .nav_links {
    position: absolute;
    background: #5878ca;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
      display: block;
      color: #ffffff;
      font-size: 20px;
      margin: 10px;
      cursor: pointer;
  }
  nav .fa:hover {
    color: #2ca8ff;
    transition: 0.5s ease-in-out;
  }
  .nav_links ul {
      padding: 10px;
  }
}

