<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a3a5df494.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/styles/indexStyle.css" rel="stylesheet">
    <title>Ingresando a la Facutlad</title>
</head>

<body>
    <section class="encabezado">
        <nav>
            <div class="title">
                <a href="{{ url_for('home') }}"><img src="../static/img/title5Fix.png"></a>
            </div>
            <div class="nav_links" id="navLinks">
                <i class="fa fa-times" onclick="closeMenu()"></i>
                <ul>
                    <li>
                        <a class="anchorsNav" href="{{ url_for('forum') }}">Foro</a>
                    </li>
                    {% if 'username' in session %}
                    <li>
                        <a class="anchorsNav" href="/profile">{{ session['username'] }}</a>
                    </li>
                    <li>
                        <a href="/logout">Cerrar Sesion</a>
                    </li>
                    {% endif %}
                </ul>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="indexWelcome">
            <h2>Conecta, comparte y aprende.</h2>
            <h1>Estudia medicina desde<br> un nuevo angulo.</h1>
            <p>Cada carrera exitosa comienza con una buena educacion.<br>Con nosotros, descubre la facilidad de poder
                comunicarte con tus mentores, acceder a la bibliografia necesaria<br> y estar al tanto de las
                novedadesde la Facultad. En Ingresando a la Facultad queremos facilitar tus primeros años de vida
                universitaria.
            </p>
            <p>DESLIZA Y DESCUBRE</p>
            <i class="fa fa-arrow-down" id="arrow" aria-hidden="true"></i>
        </div>
    </section>

    <!-----  NOTICIAS  ----->

    <section class="news" id="news">
        <h1>Noticias</h1>
        <p class="p_newsTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <a class="news-col" type="button">
                <h3>Facultad</h3>
                <p class="p_news">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maxime corrupti
                    voluptate numquam expedita consequatur nesciunt repellendus in magnam vel et quae similique minima
                    consequuntur earum natus corporis, eveniet deserunt.</p>
            </a>
            <a class="news-col" type="button">
                <h3>Medicina</h3>
                <p class="p_news">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maxime corrupti
                    voluptate numquam expedita consequatur nesciunt repellendus in magnam vel et quae similique minima
                    consequuntur earum natus corporis, eveniet deserunt.</p>
            </a>
            <a class="news-col" type="button">
                <h3>EVA</h3>
                <p class="p_news">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maxime corrupti
                    voluptate numquam expedita consequatur nesciunt repellendus in magnam vel et quae similique minima
                    consequuntur earum natus corporis, eveniet deserunt.</p>
            </a>
        </div>
    </section>

    <!-----  MATERIAS  ----->

    <section class="material" id="material">
        <h1 class="material_h1">Materias</h1>
        <p class="material_p">Escoge entre la variedad de materias para descargar su documentacion</p>
        <div class="row">
            <div class="material_col">
                <img src="../static/img/AT.png">
                <div class="layer">
                    <a href="#">AT</a>
                </div>
            </div>
            <div class="material_col">
                <img src="../static/img/AT.png">
                <div class="layer">
                    <a href="#">AT2</a>
                </div>
            </div>
            <div class="material_col">
                <img src="../static/img/bcm.png">
                <div class="layer">
                    <a href="#">BCM</a>
                </div>
            </div>
            <div class="material_col">
                <img src="../static/img/bcm.png">
                <div class="layer">
                    <a href="#">IBCM</a>
                </div>
            </div>
            <div class="material_col">
                <img src="../static/img/ibest.png">
                <div class="layer">
                    <a href="#">IBEST</a>
                </div>
            </div>
            <div class="material_col">
                <img src="../static/img/spyh.png">
                <div class="layer">
                    <a href="#">SPYH</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer_container">
                <div class="footer_content_container">
                    <h3 class="website_logo">Ingresando a la Facultad</h3>
                    <span class="footer_info">IALFfmed@gmail.com</span>
                </div>
                <div class="footer_menu">
                    <div class="footer_content_container">
                        <span class="menu_titles">Legal</span>
                        <a href="#" class="menu_item_footer">Politica de Privacidad</a>
                        <a href="#" class="menu_item_footer">Cookies</a>
                        <a href="#" class="menu_item_footer">Terminos y Condiciones</a>
                    </div>
                </div>
                <div class="footer_content_container">
                    <span class="menu_title">Siguenos</span>
                    <div class="social_container">
                        <a href="http://www.fmed.edu.uy/" class="social_link">Facultad</a>
                        <a href="#" class="social_link">Redes</a>
                        <a href="#" class="social_link">Contacto</a>
                    </div>
                </div>
            </div>
            <div class="copyright_container">
                <span class="copyright">&copy;2021, ingresandoalafacultad.com</span>
            </div>
        </footer>
    </section>
    <script src="../static/js/app.js"></script>
</body>

</html>