<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a3a5df494.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/styles/indexStyle.css" rel="stylesheet">
    <title>Ingresando a la Facutlad</title>
</head>

<body>
    <section class="encabezado">
        <nav>
            <div class="title">
                <a href="{{ url_for('index') }}"><img src="../static/img/title5Fix.png"></a>
            </div>
            <div class="nav_links" id="navLinks">
                <i class="fa fa-times" onclick="closeMenu()"></i>
                <ul>
                    <li>
                        <a id="a_prev" href="{{ url_for('login') }}">Iniciar Sesion</a>
                    </li>
                    <li>
                        <a id="a_prev" href="{{ url_for('register') }}">Registrarse</a>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="indexWelcome">
            <h3>Conecta, comparte y aprende.</h3>
            <h1>Estudia medicina desde<br> un nuevo angulo.</h1>
            <p>Cada carrera exitosa comienza con una buena educacion.<br>Con nosotros, descubre la facilidad de poder
                comunicarte con tus mentores, acceder a la bibliografia necesaria<br> y estar al tanto de las novedades
                de la Facultad. En Ingresando a la Facultad queremos facilitar tus primeros años de vida universitaria.
            </p>
            <a href="{{ url_for('register') }}" class="buttonIndex"> Ingresa Ya Mismo! </a>
        </div>
    </section>
    <footer>
        <div class="footer_container">
            <div class="footer_content_container">
                <h3 class="website_logo">Ingresando a la Facultad</h3>
                <span class="footer_info">IALFfmed@gmail.com</span>
            </div>
            <div class="footer_menu">
                <div class="footer_content_container">
                    <span class="menu_titles">Legal</span>
                    <a href="#" class="menu_item_footer">Politica de Privacidad</a>
                    <a href="#" class="menu_item_footer">Cookies</a>
                    <a href="#" class="menu_item_footer">Terminos y Condiciones</a>
                </div>
            </div>
            <div class="footer_content_container">
                <span class="menu_title">Siguenos</span>
                <div class="social_container">
                    <a href="http://www.fmed.edu.uy/" class="social_link">Facultad</a>
                    <a href="#" class="social_link">Redes</a>
                    <a href="#" class="social_link">Contacto</a>
                </div>
            </div>
        </div>
        <div class="copyright_container">
            <span class="copyright">&copy;2021, ingresandoalafacultad.com</span>
        </div>
    </footer>
    <script src="../static/js/app.js"></script>
</body>

</html>