<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/0a3a5df494.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../static/styles/profileStyle.css" rel="stylesheet">
    <title>Ingresando a la Facutlad</title>
</head>

<body>
    <nav>
        <div class="title">
            <a href="{{ url_for('home') }}"><img src="../static/img/title5Fix.png"></a>
        </div>
        <div class="nav_links" id="navLinks">
            <i class="fa fa-times" onclick="closeMenu()"></i>
            <ul>
                <li>
                    <a class="anchorsNav" href="{{ url_for('home') }}">Menu</a>
                </li>
                <li>
                    <a class="anchorsNav" href="{{ url_for('forum') }}">Foro</a>
                </li>
                {% if 'username' in session %}
                <li>
                    <a class="anchorsNav" href="/#">{{ session.username }}</a>
                </li>
                <li>
                    <a href="/logout">Cerrar Sesion</a>
                </li>
                {% endif %}
            </ul>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="container">
        <!-- <img size="200" src="{{'http://localhost:2400/images/' + usuario.idUsers|string + '.jpg'}}"> -->
        <img size="100" src="/images/ariana.jpg">
        <form enctype="multipart/form-data" action="{{'http://localhost:2400/upload_pfp/' + usuario.idUsers|string}}" method="post" class="form-image">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Subir una foto de perfil" class="btn btn-info" onchange="this.submit()">
            </p>
        </form>
        <div class="container-mainInfo">
            <h3 class="userName">{{ usuario.firstName }} {{ usuario.lastName }}</h3>
            <p class="userYear">Estudiante primer a&ntilde;o</p>
        </div>
    </div>
    <div class="container-subInfo">
        <div class="containers-labels">
        <label>Email: <p class="userDataSide"> {{ usuario.email }} </p></label>
        <label>Departamento: <p class="userDataSide"> {{ usuario.region }} </p></label>
        <label>Ciudad: <p class="userDataSide"> {{ usuario.city }} </p></label>
        </div>
        <div class="container-about">
            <h3>Sobre mi:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae sequi, ducimus
                delectus aut molestiae aspernatur maiores natus fuga adipisci non ullam molestias sapiente,
                in expedita veritatis repellat quisquam rerum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, earum doloremque voluptatem
                dolorum quidem nisi, rem sunt velit nemo cumque voluptas pariatur et explicabo recusandae
                exercitationem fugiat modi mollitia? Autem?</p>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/app.js"></script>
</body>

</html>